@import "tailwindcss";

@theme {
  --color-brand-bg: #00693e;
  --color-brand-accent: #ddd8c4;
  --color-brand-surface: #81d8d0;
  --color-brand-card: #141414;
  --color-brand-text: #fdf6ed;
  --color-brand-gold: #F2D4D7;
  /* rgba(255, 248, 239, 1) */
  --color-brand-gold-glow: #F2D4D71a;
  /* rgba(255, 248, 239, 0.1) */
  --color-brand-gold-border: #F2D4D726;
  /* rgba(255, 248, 239, 0.15) */
  --color-brand-gold-card-border: #F2D4D733;
  /* rgba(255, 248, 239, 0.2) */

  --font-heading: 'Outfit', sans-serif;
  --font-body: 'DM Sans', sans-serif;
  --font-stats: 'JetBrains Mono', monospace;

  --animate-float: float 20s ease-in-out infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0) scale(1);
    }

    50% {
      transform: translateY(-20px) scale(1.05);
    }
  }
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    font-family: var(--font-body);
    line-height: 1.7;
    position: relative;
    overflow-x: hidden;
  }

  /* Typography Base */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
  }

  h1 {
    font-size: 48px;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 72px;
    }
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 24px;
  }
}

@layer utilities {
  .noise-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 50;
    opacity: 0.04;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  .glass-panel {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border: 1px solid var(--color-brand-gold-border);
  }

  .portfolio-card {
    background-color: var(--color-brand-card);
    border: 1px solid var(--color-brand-gold-card-border);
    box-shadow: -8px -8px 24px 0 var(--color-brand-gold-glow), 8px 8px 24px 0 rgba(0, 0, 0, 0.5);
  }

  .gold-gradient-text {
    color: var(--color-brand-gold);
  }
}